.btn {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: #222;
  padding: 17px 60px;
  margin: 20px auto;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
  width: 250px;
}

.btn span {
  position: relative; 
  z-index: 1;
}

.btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: #78c7d2;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.link {
  font-size: 20px;
  margin-top: 30px;
}

.link a {
  color: #000;
  font-size: 25px; 
}

.inputBody {
    background-color: #EFF8FE;
    width: 100%;
}

.inputContainer {
    padding: 80px 395px;
}

.mainHeading {
    color: #9CA3A6;
    font-size: 12px;
    font-weight: 700;
}

.subHeading {
    color: #25445C;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;

}

.grid-container {
    margin-top: 21px;
    display: grid;
    grid-template-columns: 0.0fr 2.6fr 0.0fr;
    grid-template-rows: 0fr 0fr;
    gap: 0px 0px;
    grid-template-areas:
      "question inputQuestion delete"
      "answer inputAnswer delete";
  }
  
  .question { 
      grid-area: question;
    }
  
  .answer { 
      grid-area: answer; 
    }
  
  .inputQuestion { 
      grid-area: inputQuestion;
      margin-left: 27px;
    }
  
  .inputAnswer { 
      grid-area: inputAnswer;
      margin-left: 27px;
    }

  .delete { 
      grid-area: delete; 
    }

    .delete p {
        margin-top: 55px;
        margin-bottom: 55px;
    }

    .question p, .answer p {
        color: #64B5F6;
        line-height: 30px;
        font-size: 20px;
        letter-spacing: -1%;
        font-weight: 700;
    }

    .inputQuestion input, .inputAnswer input {
        width: 100%;
        background-color: transparent;
        border: none;
        font-size: 18px;
        line-height: 30.6px;
        font-weight: 400;
        color: #25445C;
        margin-top: 19px;
        margin-bottom: 19px;
        outline: none;
    }

    .inputQuestion input::placeholder, .inputAnswer input::placeholder {
        color: #64B5F6;
        font-weight: 400;
    }

    .deleteButton {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        left: 1005px;
        top: 318px;
        border: none;
        outline: none;
        background-color: #E0F0FD;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .addButton {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        left: 1005px;
        top: 318px;
        border: none;
        outline: none;
        background-color: #E0F0FD;
    }

    .deleteButton:hover {
        background-color: #c1dff8;
    }